<h2>Select Your Favorite Gifs</h2>

<%= form_for(@favorites) do |f| %>
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% category.gifs.each_with_index do |gif, index| %>
      <input type="checkbox" name="<%= "#{category.name}#{index + 1}" %>" value="<%= gif.url %>"><img src="<%= gif.url %>">
    <% end %>
  <% end %>
  <%= f.submit "Favorite Gifs" %>
<% end %>
