<h2>Add Gifs</h2>

<%= form_for(@gifs, url: admin_category_gifs_path) do |f| %>
  <% @potential_gifs.each_with_index do |gif_url, index| %>
    <input type="checkbox" name="<%= index + 1 %>" value="<%= gif_url %>"><img src="<%= gif_url %>">
    <% if (index + 1)%5 == 0 %><br><% end %>
  <% end %>
  <%= f.submit "Add Gifs" %>
<% end %>
