<!DOCTYPE html>
<html>
<head>
  <title>GifGenerator</title>
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="wrapper">
      <h1>Gif Generator</h1>
  </div>
</header>
<%= render 'nav' %>
<% if flash %>
  <% flash.each do |type, message| %>
  <div class="<%= "flash-#{type}" %> flash">
    <%=  content_tag :div, message, class: "wrapper" %>
  </div>
  <% end %>
<% end %>
<main class="wrapper">
  <%= yield %>
</main>
</body>
</html>
